<html>

<head>
    <title>Overview</title>
    <link th:href="@{/resources/o.css(ver=0.1)}" rel="stylesheet" />
</head>

<body>
    <table class="stats">
        <tr>
            <td><label class="info-attr">Short url:</label><span th:text="${shortFullUrl}" /></td>
        </tr>
        <tr>
            <td><label class="info-attr">Original:</label><span th:text="${shortUrl.original}" /></td>
        </tr>
        <tr>
            <td><label class="info-attr">Clicks:</label><span th:text="${clicksCount}" /></td>
        </tr>
        <tr>
            <td><label class="info-attr">Unique visitors:</label><span th:text="${uniqueVisitors}" /></td>
        </tr>
    </table>
</body>

</html>